<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<style>
    .done-true{
        text-decoration: line-through;
        color: grey;
    }
</style>
<body ng-app="myApp">
<div id="container" style="margin: 0 auto; width: 960px;" data-ng-controller="TaskController"
     data-ng-init="init()">
    <header>
        <h1>ToDoList App</h1>
    </header>
    <div class="form-group">
        <form>
            <textarea data-ng-model="toDoText" class="form-control" rows="5" id="comment"></textarea><br>
            <input type="submit" class="btn-success" data-ng-click="addToDoList()" value="Add Tasks">
            <input type="submit" class="btn-success" data-ng-click="viewList()" value="View Tasks">
        </form>
        <div class="panel panel-default" style="margin-top: 5px; padding: 15px;">
            <div class="page-heading"> Tasks need to be done:</div>
            <div class="panel-body">
                <ol class="list-group" style="padding-left:15px;">
                    <li ng-repeat="getList in getLists track by $index" data-ng-hide="checked"
                        style="padding: 5px;"  class="done-{{getList.isComplete}}">
                        <input type="checkbox" style="float: right;" data-ng-click="setCompleted(getList.uid)"
                              >
                        <input type="submit" value="Delete this Task" class="btn-danger"
                               data-ng-click="deleteTask(getList.uid)" style="float: right; margin-right: 10px;">
                    </li>
                </ol>
            </div>
            <div>

            </div>

        </div>
    </div>
</div>
</body>
</html>